@model AdminTools.Web.ViewModels.PasswordViewModel
@{
    ViewData["Title"] = "Password Generator";
}


<div class="card col-md-6 col-sm-10">
    <div class="card-block">
        <h3 class="card-title">Generate Secure Password</h3>
    </div><!-- /.card-header -->
    <!-- form start -->
    <form asp-controller="Tools" asp-action="Password" method="post" role="form">
        <div class="form-group row">
            <label asp-for="Length" class="col-sm-4 col-form-label"></label>
            <div class="col-sm-6">
                <input asp-for="Length" value="8" class="form-control" />
            </div>
            <span asp-validation-for="Length" class="form-text text-warning"></span>
        </div>

        <div class="form-group row">
            <label asp-for="Count" class="col-sm-4"></label>
            <div class="col-sm-6">
                <input asp-for="Count" value="1" class="form-control" />
            </div>
            <span asp-validation-for="Count" class="form-text text-warning"></span>
        </div>

        <div class="form-group row">
            <label asp-for="Symbols" class="col-sm-4"></label>
            <div class="col-sm-6">
                <input asp-for="Symbols" type="checkbox" class="form-control bootstrap-switch" data-off-text="No" data-on-text="Yes" checked>
            </div>
        </div>

        <div class="form-group row">
            <div class="offset-sm-4 col-sm-6">
                <button type="submit" class="btn btn-outline-primary">Generate</button>
            </div>
        </div>
    </form>
        @if (ViewBag.Passwords != null)
            {
            <ul class="list-group">

                @foreach (KeyValuePair<string, string> kv in ViewBag.Passwords)
                {
                    <li class="list-group-item">
                            <input class="form-control " asp-for="Password" value="@kv.Key" readonly />
                            <span class="text-sm text-muted">@kv.Value</span>
                    </li>
                }
            </ul>
        }
</div><!-- /.card -->

@section scripts{
    <script type="text/javascript">

    </script>
}
