@{
    ViewData["Title"] = "Home Page";
}

<div class="page-header">
    <p class="lead">Welcome to the Cambium IT Team intranet site.</p>
</div>
<p class="text-warning well">This site is a work inprogress, please check back for more features to be added.</p>
